rap.txt
*.p3d
*.paa
*.ogg
*.xml
*.txt
*.rvmat
*.asi
*.anm
*.bin
*.bisurf
*.pac
*.xob
*.wrp
*.nm
*.edds
*.emat
texheaders.bin
*.ptc
DZ/water_bliss/ponds/data/enoch_pond.emat
DZ/water_bliss/ponds/data/enoch_pond_moss.emat
DZ/water_bliss/river/data/enoch_river.emat
